<%= link_to 'Home', root_path, :class => "btn small info" %>

<table>
<h2><%= @list.name %></h2>

<br />


<% @list.tasks.each do |task| %>
  <tr>
    <td><%= best_in_place task, :content, :path => list_task_path(@list, task) %></td>
    <td><%= link_to 'Show', list_task_path(@list, task) %></td>
    <td><%= link_to 'Destroy', list_task_path(@list, task), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Task to List', new_list_task_path(@list), :class => "btn large primary" %> <br /><br />


