<h1>Listing tasks</h1>

<%= link_to 'New Task', new_list_task_path, :class => "btn large primary", :id => 'new-task' %><br />

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.content %></td>
      <td><%= link_to 'Show', list_task_path(@list, task) %></td>
      <td><%= link_to 'Edit', edit_list_task_path(@list, task) %></td>
      <td><%= link_to 'Destroy', list_task_path(@list, task), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />


  <%= link_to 'Home', root_path, :class => "btn small info" %>
